<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Industry</th>
    <th>Description</th>
    <th>Address</th>
    <th>Fono</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.name %></td>
    <td><%= provider.industry %></td>
    <td><%= provider.description %></td>
    <td><%= provider.address %></td>
    <td><%= provider.fono %></td>
    <td><%= link_to 'Show', provider %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>
