- model_class = Inventory
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:medicine_id) + ':'
  %br
  = @inventory.medicine_id
%p
  %strong= model_class.human_attribute_name(:quantity) + ':'
  %br
  = @inventory.quantity
%p
  %strong= model_class.human_attribute_name(:sale_price) + ':'
  %br
  = @inventory.sale_price

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), inventories_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_inventory_path(@inventory), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), inventory_path(@inventory), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
