- title "Sales"
%p= link_to "Go to admin section", admin_dashboard_path
%table
  %tr
    %th Description
  - for sale in @sales
    %tr
      %td= sale.description
      %td= link_to 'Show', sale
      %td= link_to 'Edit', edit_sale_path(sale)
      %td= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Sale", new_sale_path
