!!!
%html

  %head
    %title
      = yield(:title) || "Drugstore"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "internal", :media => 'all'
    = javascript_include_tag "internal"
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      = link_to 'Logout', destroy_user_session_path, :method => :delete if user_signed_in?
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield